// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

$red: #F03861;
$blue: #F9A828;
$yellow: #F5D97E;
$orange: #E8B844;
$green: #07617D;
$gray: #000000;
$light-gray: #ECECEB;


// #F03861  red
// #FEF2F2 grey background
// #F5D97E yellow
// #E8B844 - deep yellow


// #ECECEB - light gray
// #F9A828 - orange
// #07617D - deep blue
// #2E383F - navy blue
