<div id="background"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center">About Us</h3>
      <br>

      <p class="text-justify">Lorem ipsum dolor sit amet, nec aliquam, iaculis proin, enim egestas in phasellus ut at pulvinar, vel feugiat venenatis nec imperdiet rutrum fringilla. Torquent sit lorem pellentesque. Quam nunc ligula amet mi in. Tincidunt nulla eu vel vel. Eu cum cursus, elit a vel, dolor donec, blandit voluptates fermentum morbi commodo felis lacus. Odio justo, lorem fermentum dolor. Ut ante diam curae ac sollicitudin neque, tortor vulputate quis, odio id. Et erat ullamcorper tincidunt lacus diam wisi. Massa quam dictum cursus nam feugiat suspendisse.</p>
    </div>
  </div>
</div>
