<div class="container">
  <h1>Stocker</h1>
  <p>Hello world!</p>
  <%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'id', nil, placeholder: "Enter Company Ticker Symbol", size: 50 %>
    <%= submit_tag 'submit' %>
  <% end %>
</div>

<% stock = StockQuote::Stock.quote("goog") %>
